.IntroductionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.Introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../resources/background.jpg');
  background-size: cover;
  text-align: center;
}

.IntroductionHr {
  color: black;
  background-color: black;
  height: 2px;
  width: 50%;
}

#Name {
  font-weight: bold;
}

@media screen and (max-width: 1199px) { /* Mobile */
  #Name {
    font-size: 120%;
  }

  .Introduction {
    height: 35vh;
    width: 85vw;
  }
}

@media screen and (min-width: 1200px) { /* Desktop */
  #Name {
    font-size: 150%;
    letter-spacing: 3px;
  }

  #Currently, #Past {
    font-size: 110%;
  }

  .Introduction {
    height: 50vh;
    width: 50vw;
  }
}