.AboutMeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AboutMe {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  max-width: 900px;
  font-style: italic;
  text-align: center;
}

.ProfileImage {
  border-radius: 50%;
  border: 5px solid black;
  width: 20%;
  height: 20%;
  margin: 10px 0px 0px 30px
}