html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;  /*removes default style*/
  display: flex;  /*enables flex content for its children*/
  justify-content: center;
  flex-direction: column;
}

.AppContainer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.InfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}