html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

.AppContainer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.InfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: font_adam;
  src: url('../resources/adam.otf');
}

.Title {
  font-family: font_adam
}

@font-face {
  font-family: font_aqua;
  src: url('../resources/aqua.ttf');
}

.Text {
  font-family: font_aqua
}

@media screen and (min-width: 980px) { /* Desktop */
  body {
    position: absolute;
    left: 0;
    top: 0;
    right: -30px;
    bottom: 0;
    padding-right: 15px;
  }
}