hr {
  color: black;
  background-color: black;
  width: 100%;
}

.BrandingBarContainer {
  display: flex;
  flex-direction: column;
  height: 80px;
}

.BrandingBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}