.LogoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) { /* Mobile */
  .LogoImage {
    width: 30px;
  }

  #LogoName {
    font-size: 100%;
  }
}

@media screen and (min-width: 980px) { /* Desktop */
  .LogoImage {
    width: 60px;
  }

  #LogoName {
    font-size: 200%;
  }
}