.InterestRow {
  display: flex;
  flex-direction: row;
}

.InterestColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.MyInterestListContainer {
  margin: 100px 0px 100px 0px;
}