html {
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: font_adam;
  src: url('./resources/fonts/adam.otf');
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: font_adam;
  margin: 0px auto;
  padding: 0px auto;
}

.AppContainer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.InfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SectionContainer {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.GreyBackground {
  background-color: #f0f0f0;
}

.Title {
  font-size: 175%;
  letter-spacing: 3px;
}

.Row {
  display: flex;
  flex-direction: row;
}

.Column {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) { /* Desktop */
  body {
    position: absolute;
    left: 0;
    top: 0;
    right: -30px;
    bottom: 0;
    padding-right: 15px;
  }

  .SectionContainer {
    margin: 100px 0px 100px 0px;
  }
}

@media screen and (max-width: 1199px) { /* Mobile */
  .SectionContainer {
    margin: 20px 0px 20px 0px;
  }
}